@import url(reset.css);
@import url(fonts.css);

.conteiner {
	overflow-x: hidden;
}

.header_wrapper {
	max-width: 985px;
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 40px;
	padding: 0px 20px;
}
.header_nav {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
	border-bottom: 1px solid #828282;
}

.header_languages {
	display: none;
}
.header_link {
	font-family: 'Gilroy Bold';
	font-size: 18px;
	line-height: 22px;
	color: #828282;
    text-decoration: none;
}
.header_link:hover {
	color: #070707;
}

.nav-button {
	display: none;
}
.nav-button_line {
	width: 33px;
	height: 4px;
	background-color: #000;
}
.nav-button--close .nav-button_line {
	width: 33px;
}
.nav-button_line + .nav-button_line {
	margin-top: 4px;
}
.nav-button_line-1,
.nav-button_line-3 {
	transition: 0.2s;
}

.nav-button--close .nav-button_line-1 {
	background: #828282;
	transform: translateX(6px) rotate(45deg) translateY(9px);
}
.nav-button--close .nav-button_line-2 {
	visibility: hidden;
}
.nav-button--close .nav-button_line-3 {
	background: #828282;
	transform: translateX(10px) rotate(-45deg) translateY(-14px);
}

.main-info_wrapper {
	max-width: 985px;
	margin: 0px auto;
	margin-bottom: 50px;
	padding: 0px 29px;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.main-info_name {
	max-width: 123px;

	font-family:"Gilroy Bold";
	font-size: 47.3392px;
	line-height: 59px;
	color: #070707;
}
.main-info_about {
	font-family: 'Gilroy Medium';
	font-size: 18px;
	line-height: 22px;
	color: #070707;
}
.main-info_languages {
	font-family: 'Gilroy Bold';
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;

	display: flex;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}
.language-item + .language-item {
	margin-top: 4px;
}
.languages_ua {
	color: #828282;
}
.languages_eng {
	color: #070707;
}
.image_new {
	display: block;
	margin: 0px auto;
    margin-bottom: 104px;
	max-width: 100%;
	height: auto;
}
.image_new_mobile {
	display: none;
}

.about-me {
	padding-top: 120px;
	padding-bottom: 100px;
}
.about {
    width: 100%;
    height: 503px;
	background: #f6f6f6;
}
.about_title {
	margin-bottom: 17px;
}
.title {
	font-family:'Gilroy Bold';
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: #070707;
    padding-top: 119px;
}
.about_paragraph {
	max-width: 485px;
	margin: 0px auto;
	padding: 0px 29px;

	font-family: 'Gilroy Bold';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;
}
.about_paragraph {
	max-width: 485px;
	margin: 0px auto;

	font-family: 'Gilroy Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;
}
.about_paragraph + .about_paragraph {
	margin-top: 30px;
}

.skills_wrapper {
	max-width: 985px;
	margin: 0px auto;
	margin-bottom: 110px;
	padding: 0px 20px;
}
.skills_title {
	padding-top: 90px;
	margin-bottom: 70px;
}
.skills_description {
	font-family: 'Gilroy Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;
	margin-bottom: 80px;
}
.skills_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.skills_item {
	width: 166px;
	height: 206px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.skills_name {
	max-width: 80px;
	text-align: center;
	margin-top: 23px;
	margin-bottom: auto;

	font-family: 'Gilroy Bold';
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
}

.rating {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.contacts_wrapper {
	max-width: 945px;
	margin: 0px auto;
}

.contacts_title {
	margin-top: 110px;
	margin-bottom: 20px;
}
.contacts_paragraph {
	max-width: 275px;
	margin: 0px auto;
	margin-bottom: 30px;
	font-family: 'Gilroy Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;
}
.contacts_btn {
	display: block;
	width: 180px;
	height: 42px;
	margin: 0px auto;
	margin-bottom: 85px;
	background: #070707;
	border-radius: 21px;
}
.contacts_btn:hover {
	background: #ffffff;
	border: 4px solid #070707;
}
.contacts_btn:hover span {
	color: #070707;
}
.contacts_btn span {
	font-family: 'Gilroy Bold';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
}
.contacts_socials {
	max-width: 342px;
	margin: 0px auto;
	margin-bottom: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts_message {
	padding-bottom: 123px;
	font-family: 'Gilroy Medium';
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
}

@media (max-width: 380px) {
	.header_wrapper {
		margin-top: 0;
		margin-bottom: 0px;
	}
	.nav-button {
		display: block;
		position: absolute;
		right: 30px;
		top: 70px;
	}
	.nav-button--close {
		position: fixed;
	}
	.header_nav {
		display: none;
	}
	.header_nav--open {
		background-color: #ffffff;
		height: 100vh;
		width: 100%;
		padding-top: 66px;
		padding-left: 26px;
		padding-bottom: 40vh;
		border: none;

		overflow: hidden;

		position: fixed;
		top: 0;
		left: 0;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header_link {
		max-width: 200px;
		font-family: 'Gilroy Bold';
		font-size: 34px;
		line-height: 42px;
		color: #828282;
		padding-top: 67px;
	}

	.header_link1 {
		padding-top: 0px;
	}

	.header_link:active {
		color: #070707;
	}
	.main-info_wrapper {
		margin-top: 60px;
		margin-bottom: 30px;
		flex-direction: column;
		align-items: flex-start;
	}

	.main-info_languages {
		display: none;
	}
	.header_languages {
		position: absolute;
		margin-top: 522px;
		right: 28px;
		font-family: 'Gilroy Bold';
		font-size: 34px;
		line-height: 42px;
		text-transform: uppercase;

		display: flex;
		writing-mode: vertical-lr;
	}
	.header_ua {
		color: #828282;
	}
	.header_anguage-item + .header_language-item {
		margin-top: 4px;
	}
	.header_eng {
		color: #070707;
	}

	.main-info_name {
		margin-bottom: 23px;
		font-size: 47px;
		line-height: 58px;
	}
	.main-info_about {
		margin-bottom: 36px;
		font-size: 18px;
		line-height: 22px;
	}
	.image_new {
		display: none;
	}
	.image_new_mobile {
		display: block;
		margin: 0px auto;
		padding: 0px 29px;
		max-width: 100%;
		height: auto;
		margin-bottom: 83px;
	}

	.about-me {
		padding-top: 81px;
		padding-bottom: 76px;
	}
	
	.skills_wrapper {
		margin-bottom: 100px;
		padding: 0px 20px;
	}
	.skills_title {
		padding-top: 83px;
		margin-bottom: 50px;
	}
	.skills_description {
		margin-bottom: 70px;
	}
	.skills_list {
		flex-direction: column;
	}
	.skills_item + .skills_item {
		margin-top: 80px;
	}
	
	.contacts_title {
		margin-top: 83px;
		margin-bottom: 27px;
	}
	.contacts_paragraph {
		margin-bottom: 40px;
	}
	.contacts_btn {
		width: 316px;
		margin-bottom: 42px;
	}
	.contacts_socials {
		margin: 0px 30px 48px 30px;
	}
	.contacts_message {
		padding-bottom: 90px;
	}
}



